@using Vec3 = Blazor.Models.Vector3;

<fieldset>
    <legend>@Label</legend>
    <div class="row">
        <div class="col-4 mb-3">
            <label class="form-label">X</label>
            <InputNumber TValue="float" class="form-control" @bind-Value="Value!.X" step="any" />
            <ValidationMessage For="@(() => Value!.X)" />
        </div>
        <div class="col-4 mb-3">
            <label class="form-label">Y</label>
            <InputNumber TValue="float" class="form-control" @bind-Value="Value!.Y" step="any" />
            <ValidationMessage For="@(() => Value!.Y)" />
        </div>
        <div class="col-4 mb-3">
            <label class="form-label">Z</label>
            <InputNumber TValue="float" class="form-control" @bind-Value="Value!.Z" step="any" />
            <ValidationMessage For="@(() => Value!.Z)" />
        </div>
    </div>
</fieldset>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public Vec3? Value { get; set; } = new(0, 0, 0);
}