@page "/objects/details"
@using Microsoft.EntityFrameworkCore
@using Blazor.Models
@inject IDbContextFactory<Blazor.Data.BlazorContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Object</h2>
    <hr />
    @if (obj is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
        </dl>
        <div>
            <a href="@($"/objects/edit?id={obj.Id}")">Edit</a> |
            <a href="@($"/objects")">Back to List</a>
        </div>
    }
</div>

@code {
    private Object3d? obj;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        obj = await context.Objects.FirstOrDefaultAsync(m => m.Id == Id);

        if (obj is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}