@page "/objects/edit"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Blazor.Components.Shared
@using Blazor.Models
@inject IDbContextFactory<Blazor.Data.BlazorContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h2>Edit object</h2>
<hr />

@if (Obj is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm method="post" Model="Obj" OnValidSubmit="UpdateObject" FormName="edit" Enhance>
        <DataAnnotationsValidator />
        <ValidationSummary role="alert" />
        <Vector3 Label="Position" @bind-value="Obj.Position" />
        <Vector3 Label="Size" @bind-value="Obj.Size" />
        <Vector3 Label="Color" @bind-value="Obj.Color" />

        <input type="hidden" name="Object.Id" value="@Obj.Id" />
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}

<div>
    <a href="/objects">Back to List</a> |
    <a href="@($"objects/delete?id={Obj?.Id}")">Delete</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Object3d? Obj { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Obj ??= await context.Objects.FirstOrDefaultAsync(m => m.Id == Id);

        if (Obj is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateObject()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Obj!).State = EntityState.Modified;
        context.Attach(Obj!.Position).State = EntityState.Modified;
        context.Attach(Obj!.Size).State = EntityState.Modified;
        context.Attach(Obj!.Color).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ObjectExists(Obj!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/objects");
    }

    private bool ObjectExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Objects.Any(e => e.Id == id);
    }
}