@page "/objects"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Blazor.Models
@using Blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Blazor.Data.BlazorContext> DbFactory

<PageTitle>Objects</PageTitle>

<h1>List of objects</h1>

<p>
    <a href="objects/create">Create new object</a>
</p>

<p>
    X between <input type="number" placeholder="From" @bind="From" />
    and <input type="number" placeholder="Until" @bind="Until" />.
</p>

<QuickGrid Class="table" Items="context.Objects.Where(obj => obj.Position.X >= From && obj.Position.X <= Until)">
    <TemplateColumn Context="obj">
        <span>@((MarkupString)obj.ToString())</span>
        <a href="@($"objects/edit?id={obj.Id}")">Edit</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorContext context = default!;
    private float From = -5;
    private float Until = 5;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}