@inherits LayoutComponentBase

<div class="page">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<hr />
<div>EGS <span class="clickable" @onclick="OnCopyrightClick">&copy;</span> @Year</div>

@code {
    private const int YEAR = 2026;
    private int Year { get; set; } = YEAR;

    private void OnCopyrightClick(MouseEventArgs e) => Year = e.CtrlKey ? YEAR : (int)e.ClientX;
}