@page "/"

<PageTitle>.net Core Playground, Blazor project</PageTitle>

<h1>Blazor</h1>

<p>Blazor is something that was on my list of things to learn for years.
Now, in the context of learning .net Core more broadly, I finally came around to it.
I started on 13 march 2026, by following Microsofts
<a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/tutorials/build-a-blazor-app">Todo List tutorial</a>.
</p>