@page "/todo"
@rendermode InteractiveServer
@using Blazor.Models
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager

<PageTitle>Todo</PageTitle>

<h3>Todo (@items.Count(item => !item.IsDone))</h3>

<ul>
    @foreach (var item in items)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            <input type="text" @bind="item.Title" />
        </li>
    }
</ul>

<input type="text" placeholder="Something to do..." @bind="title" />
<button @onclick="Add">Add</button>

@code {
    private List<TodoItem> items = new List<TodoItem>();
    private string? title;

    protected override void OnInitialized()
    {
        var parameters = QueryHelpers.ParseQuery(NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query);
        if (!parameters.TryGetValue("item", out var items) || items.Count <= 0) return;
        foreach (var item in items)
            this.items.Add(new TodoItem(item));
    }

    private void Add()
    {
        if (string.IsNullOrWhiteSpace(title)) return;
        items.Add(new TodoItem(title));
        title = null;
    }
}