@page "/"
@inject HttpClient Http

<h3>WASM</h3>
@if (groups != null)
{
    foreach (var group in groups)
    {
        <p>@group.Name</p>
    }
}

@code {
    private IEnumerable<Group>? groups;

    protected override async Task OnInitializedAsync()
    {
        groups = await Http.GetFromJsonAsync<IEnumerable<Group>>("api/group");
    }
}