@page "/"
@inject HttpClient Http

<h2>WASM</h2>
<h3>Automotive groups</h3>
@if (groups != null)
{
    <ol>
        @foreach (var group in groups)
        {
            <li><a href="/group/@group.Name">@group.Name</a></li>
        }
    </ol>
}

@code {
    private IEnumerable<Group>? groups;

    protected override async Task OnInitializedAsync()
    {
        groups = await Http.GetFromJsonAsync<IEnumerable<Group>>("api/group");
    }
}